.footer-container {
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #f7f7f7;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
    min-width: 250px;
}

.footer-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #128a87;
    border-bottom: 2px solid #128a87;
    display: inline-block;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #15a39d;
}

.footer-section ul li i {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .footer-container {
        padding: 20px;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}
